// Import
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,600');


//Variables
$font: 'Fira Sans', sans-serif;
$ltteal: #29c0d1;
$teal: #0094b2;
$dkteal: #016678;
$ltblue: #5bc6e6;
$blue: #1d7ac0; 
$dkblue: #015172;

//Global Styles
body {
	font-family: $font;
	font-size: 16px;
	position: relative;
}

a {
	color: $teal;
	&:hover {
		color: $dkteal;
	}
}

.module {
	padding: 35px 0;
	h2 {
		text-align: center;
	}
}



#banner {
	background: url("../img/banner.jpg") center / cover no-repeat;
	background-attachment: fixed;
	color: #fff;
	font-weight: 500;
	text-align: center;
	.name {
		text-transform: uppercase;
		font-size: 5rem;
		font-weight: 200;
	}
	.title {
		font-size: 2.5rem;
	}
	.tagline {
		font-size: 1.5rem;
	}
}

#about {

}

#skills {
	background: $dkteal;
	#skillsNav {
		background: #fff;
	}
	#skillsNavContent {
		background: pink;
		padding: 15px;
	}
}

#work {

}

#contact {
	background: $teal;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	#mainNav .navbar-nav {
		justify-content: flex-end;
		width: 100%;
	}
}

// Medium devices (tablets, 768px and up)
//Using this as a breakpoint in nikki.js
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
